@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';
.preloader{
    width:100%;
    height:100%;
    top:0;
    position:fixed;
    z-index:99999;
    background:#f3f3f3
}
.preloader .cssload-speeding-wheel{
    position:absolute;
    top:calc(50% - 3.5px);
    left:calc(50% - 3.5px)
}
@font-face{
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range:U+02BC,U+0900097F,U+1CD0-1CF6,U+1CF8-1CF9,U+200B-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FB
}
@font-face{
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range:U+0100024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF
}
@font-face{
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range:U+000000FF,U+0131,U+01520153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
}
body{
    background:#f3f3f3
}
.logo i{
    color:#f3f3f3
}
.navbar-header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
    background: rgb(96,108,136); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
.navbar-top-links>li>a{
    color:#f3f3f3
}
.right-sidebar .rpanel-title{
    background:#008efa
}
.bg-title .breadcrumb .active{
    color:#008efa
}


/* MENU */


.sidebar{
    background:#f3f3f3;
    box-shadow:1px 0 20px rgba(0,0,0,.08)
}
.sidebar .label-custom{
    background:#00b5c2
}
#side-menu li a{
    color:#f3f3f3;
    font-size:12pt;
    border-left:1px solid rgb(54, 150, 55) !important;
    font-weight:400;
}
#side-menu li:last-child a{
    border-right:1px solid rgb(54, 150, 55)
}
#side-menu .nav-second-level li a,
#side-menu .nav-third-level li a
{
    border-right:1px solid rgb(54, 150, 55) !important;
    border-bottom:1px solid rgb(54, 150, 55) !important;
}
#side-menu > li > a {
    border-bottom:none
}
#side-menu > li > a.active i{
    color:#f3f3f3
}
#side-menu ul > li > a:hover, #side-menu > li > a.active
{
    color:#f3f3f3;
    /* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
    background:rgb(132, 190, 86);;
    border-bottom:none
}
.sidebar #side-menu .user-pro .nav-second-level a:hover{
    color:#008efa
}
#side-menu > li > a:focus {
    background: none !important;
    border-color:1px solid rgb(54, 150, 55) !important
}
.sidebar #side-menu > li:hover a {
    background:rgb(132, 190, 86);
}
.sidebar #side-menu a.router-link-active {
    background:rgb(132, 190, 86) !important
}
#side-menu ul > li > a.active{
    color:#f3f3f3
}
#side-menu .nav-second-level li:hover > a {
    color:#f3f3f3;
    background:rgb(169, 219, 128)
}


/* FINAL / MENU */


.fix-sidebar .top-left-part{
    background:#008efa
}
.bg-theme{
    background-color:#f75b36!important
}
.bg-theme-dark{
    background-color:#00b5c2!important
}
.chat-list .odd .chat-text{
    background:#008efa
}
.btn-custom{
    background:#008efa;
    border:1px solid #008efa;
    color:#f3f3f3
}
.btn-custom:hover{
    background:#008efa;
    opacity:.8;
    color:#f3f3f3;
    border:1px solid #008efa
}
.customtab li.active a,.customtab li.active a:focus,.customtab li.active a:hover{
    border-bottom:none;
    color:#008efa
}
.tabs-vertical li.active a,.tabs-vertical li.active a:focus,.tabs-vertical li.active a:hover{
    background:#008efa;
    border-right:2px solid #008efa
}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
    background:#008efa;
    color:#f3f3f3
}
.logo-top {
    margin:15px;
    margin-left:25px
}

@media(max-width:991px){
    .top-left-part {
        width:160px
    }
}

.sidebar .sidebar-nav.navbar-collapse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
    background: rgb(169,219,128); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
}

#page-wrapper{
    background:none;
}

.panel-precif .panel-default .panel-heading {
    background:rgb(96,108,136)
}
.panel-precif .panel-default .panel-heading:hover {
    background:rgb(169,219,128)
}
.panel-precif .panel-default .panel-heading a {
    color: #fff !important
}

span.sort {
    color: red;
    font-size: 9pt;
    padding: 5px
}

input.money{
    text-align: center;
    background: none !important;
    border: 0 !important
}

.login-register {
    background: url(../img/login-bg-2.jpg) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important
}

.login-logo {
    display: block;
    max-width: 200px;
    height: auto;
    margin: auto
}